<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
          <h1 style="color: green;">Your order has been placed successfully</h1>
          <p><a href="/login">Return to login page</a></p>
          <p><a href="/customer">Return to customer page</a></p>
        </div>
      </div>
</body>
</html>